* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f1f5f9;
}

a{
    color: initial;
    text-decoration: none;
    display: block;
}
