#dashboard-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.dashboard-section{
    background-color: white;
    width: 80%;
    max-width: 50em;
    box-shadow: 0px 1px 10px -5px silver;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10em;
    margin: 2em 0;
    overflow: hidden;
}

.list-link{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    align-self: stretch;
    color: #dd3569;
}



.list-link .icon{
    color: silver;
    font-size: 4em;
    margin-right: 2rem;
    margin-left: 2rem;
}

.list-link>p{
    text-transform: uppercase;
    font-size: 1.5em;
    margin-left: 5%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.list-link:hover>p{
    margin-left: 25%;
}

.create-link{
    width: 20%;
    text-align: center;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.create-link:hover{
    /* background-color: #2196f3; */
    color: white;
}

.create-link>span{
    font-size: 4em;
    color: #2297fc;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.create-link:hover>span{
    /* color: white; */
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}