.form-input{
    outline: none;
    background-color: #ffffff;
    padding: 0.5em;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    border: 1px solid silver;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-title{
    width: 70%;
    max-width: 60rem;
    text-align: left;
    margin: auto;
    margin-bottom: 2em;
    font-size: 1.7em;
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.login-form{
    width: 30em;
    margin: auto;
}

.form-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.error{
    color: red;
    margin-bottom: 2em;
}
