
#home-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2em;
}

#home-container .top-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#home-container .top-container .main-image-container{
    width: 30em;
    position: relative;
    overflow: hidden;
}

#home-container .top-container .main-image-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0px 0px 45px 45px #f1f5f9;
}

#home-container .top-container .main-image-container img{
    width: 100%;
    display: block;
    margin: auto;
}


#home-container .top-container .slogan-container{
    width: 50%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

#home-container .top-container .slogan-container h1{
    font-weight: normal;
    margin-bottom: 1em;
    font-size: 2em;
    text-transform: uppercase;
    color: #dd3569;
}

#home-container .top-container .slogan-container p{
    font-size: 1.2em;
    text-transform: uppercase;
    color: #55b5e0;
}






#list-event-container{
    width: 100%;
    margin-top: 5em;
}

#list-event-container>.title{
    font-size: 2em;
    letter-spacing: 0.25em;
    width: 70%;
    margin: auto;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid silver;
    margin-bottom: 3em;
}

#list-event-container .no-event{
    width: 100%;
    text-align: center;
    margin: 5em 0;
    font-size: 1.2em;
    text-transform: uppercase;
}



#event-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.event{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2em auto;
    width: 80%;
    box-shadow: 0 0 5px silver;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}


.event .image-container{
    width: 10em;
}

.event .info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 3em;
}

.event .event-title{
    font-size: 1.5em;
    text-transform: uppercase;
}

.event .event-description{
    font-size: 1.2em;
    margin: 1em 0;
}

.event .event-date{
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
}

.event .date-separator{
    margin: 0 0.5em;
}


.event .attendees-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    font-size: 0.8em;
}

.event .attendees-container .icon{
    margin-right: 0.5em;
}



.event .participate-button{
    padding: 0.25em 0.5em;
    background-color: #dd3569;
    color: white;
    margin-top: 2em;
}

.event .participate-button:hover{
    background-color: #bc1d4f;
}