.create-event-button{
    width: max-content;
    margin-left: auto;
    margin-top: 2em;
    padding: 0.5em 1em;
    background-color: #dd3569;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    color: white;
}

.create-event-button:hover{
    background-color: #a71c48;
}


.event-state .coming{
    color: #2196f3;
}

.event-state .progress{
    color: #35ad35;
}

.event-state .terminate{
    color: red;
}