.list-title{
    width: 80%;
    max-width: 70rem;
    text-align: left;
    margin: auto;
    font-size: 1.7em;
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.table-option{
    width: 80%;
    max-width: 70rem;
    margin: auto;
}

.list-container{
    width: 80%;
    max-width: 70rem;
    margin: auto;
}

.table-container{
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    width: 100%;
    margin: auto;
    margin-top: 2em;
    background: white;
    margin-bottom: 2em;
}

table{
    width: 100%;
}

thead tr{
    border-bottom: 0.5px solid silver;
}

thead tr th{
    padding: 1rem 1rem;
    text-align: left;
    font-size: 1em;
}


tbody tr:not(:last-child){
    border-bottom: 0.5px solid silver;
}

tbody tr:hover{
    background-color: aliceblue;
}

tbody tr td a{
    padding: 1rem 1rem;
    text-align: left;
    font-size: 1em;
}